// ABOUT

.about-text {
  color: var(--light-gray);
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
  line-height: 1.6;
  p {
    margin-bottom: 15px;
  }
}

// SERVICE
.service{ 
  margin-bottom: 35px; 
  &-title {
    margin-bottom: 20px;
  }
  &-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  &-item {
    position: relative;
    background: var(--border-gradient-onyx);
    padding: 20px;
    border-radius: 14px;
    box-shadow: var(--shadow-2);
    z-index: 1;
    &::before {
      content: "";
      position: absolute;
      inset: 1px;
      background: var(--bg-gradient-jet);
      border-radius: inherit;
      z-index: -1;
    }
    &-title { 
      margin-bottom: 7px; 
    }
    &-text {
      color: var(--light-gray);
      font-size: var(--fs-6);
      font-weight: var(--fw-3);
      line-height: 1.6;
    }
  }
  &-icon-box {
    margin-bottom: 10px;
    img {
      margin: auto;
    }
  }
  &-content-box { text-align: center; }
}

// TESTIMONIALS
.testimonials{ 
  margin-bottom: 30px; 
  &-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0;
    margin-top: 30px;
  }
  &-item{  
    width: 100%;
    min-width: unset;
    scroll-snap-align: unset;
    margin-top: 20px;  
    margin-bottom: 20px;
    &-title{ margin-bottom: 7px;}
  }
  &-avatar-box {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(15px, -25px);
    background: var(--bg-gradient-onyx);
    border-radius: 14px;
    box-shadow: var(--shadow-1);
  }
  &-text {
    color: var(--light-gray);
    font-size: var(--fs-6);
    font-weight: var(--fw-300);
    line-height: 1.6;
    display: -webkit-box;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    position: relative;
    margin-bottom: 25px;
  }
  &-expand-icon-wrapper {
    position: absolute;
    left: 50%;
    bottom: 20px;
  }
  &-expand-icon {
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    background: var(--onyx);
    border-radius: 8px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--vegas-gold);
    opacity: 0.7;
    transition: var(--transition-1);
    z-index: 1000;
    &:hover {
      opacity: 1;
    }
  }
}

.about-text {
  color: var(--light-gray);
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
  line-height: 1.6;
  p {
    margin-bottom: 15px;
  }
}